name: Build, test and deploy
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  checks:
    strategy:
      fail-fast: false
      matrix:
        mise-task:
          - check:deadcode
          - check:govet
          - check:govulncheck
          - check:ratchet
          - check:staticcheck
          - ci:fmt
          - test
    name: |
      Run mise task: ${{ matrix.mise-task }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # ratchet:jdx/mise-action@v3
      - run: mise run ${{ matrix.mise-task }}
  build_and_deploy:
    if: github.ref == 'refs/heads/main'
    name: Build and deploy app
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs:
      - checks
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # ratchet:jdx/mise-action@v3
      - id: go-version
        run: echo "version=$(mise current go)" >> $GITHUB_OUTPUT
      - uses: nais/docker-build-push@1fae4798c79f4af4c3cdbd3fe65e51f8f3ba2368 # ratchet:nais/docker-build-push@main
        id: docker-build-push
        with:
          team: nais
          build_args: GO_VERSION=${{ steps.go-version.outputs.version }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
      - uses: nais/deploy/actions/deploy@33c53f5b87d0746093a7a7ab4b9fa853e0e53bdc # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais.yaml,.nais/alerts.yaml
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-build-push.outputs.telemetry }}
